@page
@model AboutModel
@{
    ViewData["Title"] = "Cows And Bulls - Guess The Computer's Combination.";
}
<h2>@ViewData["Title"]</h2>
<h3>Enter your four numbers.</h3>
<form method="post" asp-page-handler="post">
    <label for="GuessBox">Entry:</label>
    <input type="text" name="FirstDigit" value="" pattern="\d*" required maxlength="1" /><input type="text" name="SecondDigit" value="" pattern="\d*" required maxlength="1" /><input type="text" name="ThirdDigit" value="" pattern="\d*" required maxlength="1" /><input type="text" name="FourthDigit" value="" pattern="\d*" required maxlength="1" />
    <input type="submit" />
</form>
<br />
<form asp-page-handler="delete" method="post">
    <input type="submit" value="Reset Numbers"/>
</form>
<div>
</div>
<h3>@Model.Message</h3>
